/* Transition */

.container {
    display: flex;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#rem_vw1 {
    height: 20rem;
    width: 20vw;
    padding: 50px 50px 50px 50px;
}

#px_em1 {
    padding: 50px;
    height: 317px;
    width: 20em;
}

#vh1 {
    padding: 50px;
    height: 50vh;
    width: 50em;
}

#rem_vw2 {
    height: 20rem;
    width: 20vw;
    padding: 50px 50px 50px 50px;
}

#px_em2 {
    padding: 50px;
    height: 317px;
    width: 20em;
}

#vh2 {
    padding: 50px;
    height: 50vh;
    width: 20em;
}

/* Transfrom */

.container2 img {
    /* display: flex; */
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    opacity: .9;
}

@keyframes skew {
    0% {
        transform: skewX(20deg);
    }

    100% {
        transform: skewX(-20deg);
    }
}

/* Child combinator (>) */
.subcontainer>p {
    color: blue;
}

/* Adjacent sibling combinator (+) */
.subcontainer+h2 {
    color: green;
}

/* General sibling combinator (~) */
.subcontainer~p {
    color: yellow;
}